/*
    Homework 5 Javier Ventura Trivia Game
*/

@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
    background-image: url("../images/gravel.png");
}

#headerLogo {
    font-family: 'Pacifico', cursive;
}

.mainCont {
    background-color: #ffffff;
}

.teal {
    color: #4aaaa5;
}

#optionsArea,
#questionArea {
  text-align: center;
}

